extends ./layout.jade

block content
  div.jumbotron.col-sm-10.col-sm-offset-1
    span#logo.iconfont 🗺

    h1 Thenmap
    p.intro Thenmap is a repository for historical borders.<br/>You can use it to create historical maps, like the one below.

  div.row
    div.col-sm-5.col-sm-offset-1
      h2 Thenmap API         
      p.lead Use the Thenmap API to fetch historical geodata as GeoJSON or TopoJSON, or prerendered maps as SVG files.
      p Pass a year and preferred coordinate system or projection, and the API will give you all borders in return. Like <a href="//api.thenmap.net/v1/world/geo/1956">the world in 1956</a>, or <a href="//api.thenmap.net/v1/sweden/geo/1979">Swedish municipalities from 1979</a>.
      p The Thenmap API currently holds <strong>world borders post 1945</strong> and <strong>Swedish municipality borders post 1973</strong>. 
      p Learn more by reading the <a href="//api.thenmap.net">full documentation</a>.

    div.col-sm-5
      h2 Thenmap.js
      p.lead Use Thenmap.js to embed a historical SVG map on your site. 
      p We built a super simple <a href="//github.com/rotsee/thenmap-js">javascript library for Thenmap</a> that lets you draw SVG maps with a few lines of code. You can color the map by defining fill colors in a Google spreadsheet.
      p Look how simple it is (draws the map below):
      pre
        code.prettyprint
          |var settings = {
          |  dataKey: "1xyNmpKKksy7ZaELB12UY4M2CP0-4EkwO7DWpfu30wsE",
          |  dataset: "world",
          |  date: "1949"
          |}
          |Thenmap.init("worldmap", settings);

  div.col-sm-10.col-sm-offset-1
    h2 An example: French colonies in 1949
    figure
      div#worldmap

  script(src="//drvkoaf101245.cloudfront.net/thenmap-1.0.1.min.js")
  script.
      var container = document.getElementById("worldmap");
      var containerWidth = container.offsetWidth;

      var settings = {
        dataKey: "1xyNmpKKksy7ZaELB12UY4M2CP0-4EkwO7DWpfu30wsE",
        dataset: "world",
        date: "1949",
        language: "en",
        defaultColor: "#333",
        width:containerWidth,
        height:containerWidth * 0.4,
      }
      Thenmap.init("worldmap", settings);

  div.col-sm-10.col-sm-offset-1
    h2 Credits, copyright and licensing
    p Thenmap is built by <a href="//leowallentin.se">Leo Wallentin</a> from <a href="//jplusplus.se">Journalism++ Stockholm</a>, Danny Mallas Pereira and <a href="//twitter.com/jensfinnas">Jens Finnäs</a>.
    p And extra applause: <a href="//www.iis.se/">Internetstiftelsen</a> has been kind enough to <a href="https://www.iis.se/blogg/nio-internetframjande-projekt-far-pengar-av-se/">support this project</a>.

    h2 Contribute
    p Fill me in!


  div.col-sm-10.col-sm-offset-1
    small Looking for the old version of this page? Find it at <a class="servicelink" href="//old.thenmap.net">old.thenmap.net</a>.
