
.jumbotron {
	text-align: center;
}
#logo {
	color: #492A85;
	font-size: 235px;
	display: inline-block;
	margin-bottom: 25px;
}

/* Logo as icomoon font
*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?jj7e02');
	src:url('../fonts/icomoon.eot?#iefixjj7e02') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?jj7e02') format('truetype'),
		url('../fonts/icomoon.woff?jj7e02') format('woff'),
		url('../fonts/icomoon.svg?jj7e02#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-map:before {
	content: "\e600";
}
