/* TYPOGRAPHY
*/
h2 {
	border-bottom: 4px solid #492A85;
	padding-bottom: 11px;
	margin-bottom: 17px;
}

pre code {
	font-size: 80%;
}

/* Jumbotron with logo and intro text
*/
@media screen and (min-width: 1200px){
	.jumbotron h1:before, .jumbotron h1:after {
		content:"🗺";
		font-family: "thenmap-icon";
		color: #492A85;
	}
	.jumbotron h1:before {
		padding-right:.6em;
	}
	.jumbotron h1:after {
		padding-left:.6em;
	}
}
@media screen and (max-width: 1200px){
	.jumbotron h1:before{
		content:"🗺";
		font-family: "thenmap-icon";
		display:block;
		color: #492A85;
		font-size:2em;
	}
}
.jumbotron {
	text-align: center;
}
#logo {
	color: #492A85;
	font-size: 235px;
	display: inline-block;
	margin-bottom: 25px;
}

@font-face {
	font-family: 'thenmap-icon';
	src:url('//static.jplusplus.se/iconfonts/thenmap.eot?jj7e03');
	src:url('//static.jplusplus.se/iconfonts/thenmap.eot?#iefixjj7e03') format('embedded-opentype'),
		url('//static.jplusplus.se/iconfonts/thenmap.ttf?jj7e03') format('truetype'),
		url('//static.jplusplus.se/iconfonts/thenmap.woff?jj7e03') format('woff'),
		url('//static.jplusplus.se/iconfonts/thenmap.svg?jj7e03#thnmp') format('svg');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconfont{
	font-family: "thenmap-icon";
}

.jpluspluslogo{
	font-family: "thenmap-icon";
    position:relative;
    margin:0 2em 0 1em;
    font-size: 1.5em;
    vertical-align: middle;
}
.jpluspluslogo > span {position:absolute;left:0;color:darkgray;}
.jpluspluslogo > span:first-child {color:#BE1525;}
.jpluspluslogo > span:last-child {position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;}

.shareicons {
	font-family: "thenmap-icon";
	float:right;
}
.shareicons a{
	padding-left: 1em
}

footer {
	clear: both;
	padding-top: 2em;
}

label{
	display: block
}
form > div {
	margin-top: 1em;
}
#demoMap{
	border: 1px solid black;
}
nav.ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
nav ul li {
	display: inline;
	border-left: 1px solid white;
}
nav ul li a {
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
	background-color: #492A85;
	border-radius: 2px;
}
nav ul li a:hover, nav ul li a:active {
	color: #fff;
	background-color: #7645d9;
}